*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

/* Clear */
.clear{
    clear: both;
}

/* ----------Header---------- */
.header{
    width: 80%;
    margin: auto;
}

.header__top{
    padding-top: 15px;
}

.header__top h1{
    color: #1b1d2d;
}

.header__logo{
    height: 36px;
    width: 36px;
    background-color: #002146;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    float: left;
}

.header__logo i{
    font-size: 16px;
    line-height: 36px;
    color: #fdc800;
    font-weight: lighter;
}

.header__nav ul{
    list-style: none;
    padding: 16px 15px;
}

.header__nav li{
    display: inline;
    margin-right: 35px;
}

.header__nav a{
    text-decoration: none;
    color: #1b1d2d;
}

/* ----------Carousel---------- */
.carousel{
    width: 100%;
    height: 635px;
    background-image: url(../images/2.jpg);
    background-size: cover;
}

/* ----------About---------- */
.about{
    width: 80%;
    margin: auto;
    padding: 50px 0;
}

.about__text{
    width: 50%;
    padding: 10px;
    float: left;
}

.about__text h2{
    font-size: 30px;
    padding-bottom: 20px;
    color: #1b1d2d;
}

.about__text p{
    color: #797979;
    line-height: 1.5;
    padding-bottom: 15px;
    padding-right: 80px;
}

.about__text button{
    height: 45px;
    width: 144px;
    background-color: #fdc800;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.about__image{
    width: 50%;
    float: left;
    padding: 10px;
}

.about__image img{
    width: 100%;
}

/* ----------Performence---------- */
.performance{
    background-color: #f6f6f6;
    padding: 60px 0;
    color: #212529;
}

.performance ul{
    width: 80%;
    margin: auto;
    justify-content: space-between;
    list-style: none;
}

.performance ul li{
    width: 25%;
    float: left;
}

.performance ul li h2{
    font-size: 50px;
    display: inline;
    padding-right: 15px;
    float: left;
}

.performance ul li p{
    font-size: 16px;
    padding: 10px;
    text-transform: uppercase; 
    line-height: 1.3;
}

/* ----------Service---------- */
.service{
    width: 80%;
    margin: auto;
}

.service table{
    width: 100%;
    margin: auto;
    padding: 70px 0;
}

.service table td{
    width: 25%;
    background: #002146;
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border-width: 15px 30px 15px 0;
    border-style: solid;
    border-color: white;
}

.service i{
    font-size: 40px;
    padding: 10px 0;
}

.service p{
    padding: 10px 0;
}

/* ----------Post---------- */
.post{
    background-color: #f6f6f6;
    min-height: 750px;
}

.post__content{
    width: 80%;
    margin: auto;
    color: #1b1d2d;
}

/* Lates Post */
.post__latest{
    width: 50%;
    float: left;
}
.post__content{
    padding: 70px 0;
}
.post__latest h3{
    padding: 30px 0;
    font-size: 30px;
    margin-bottom: 10px;
}

.post__latest .post__latestDetail{
    margin: 0 30px 30px 0;
    background-color: white;
}

.post__latestItem{
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 3px #f6f6f6 solid;
}

.latestItem__left{
    float: left;
}

.latestItem__left img{
    width: 160px;
    margin: 10px 15px 10px 0;
    border-radius: 5px;
}

.latestItem__right h6{
    font-size: 18px;
    margin: 0px;
    padding: 10px 0 0 15px;
    
}

.latestItem__right p:first-of-type{
    color: #939393;
    padding: 10px 0 15px 0;
}

.latestItem__right p:last-of-type{
    color: #5b5b5b;
}

.post__latest button{
    float: right;
    margin-right: 30px;
    height: 45px;
    width: 120px;
    background-color: #fdc800;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

/* Upcoming event */
.post__upcomingEvent{
    width: 50%;
    float: left;
    padding-left: 20px;
}

.post__upcomingEvent h3{
    padding: 30px 0;
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.post__upcomingEvent .EventDetail{
    margin: 0 30px 30px 30px;
}

.post__eventItem{
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    margin-bottom: 20px;
}

.post__upcomingEvent button{
    float: right;
    height: 45px;
    width: 120px;
    background-color: #fdc800;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
}

.post__eventItem{
    padding-right: 30px;
}
/* Upcoming Event Left */
.eventItem__left{
    width: 25%;
    float: left;
}

.calendar{
    margin: 10px 20px 20px 10px;
    padding: 0 3px;
}

.calendar .calendar_top{
    background: #fdc800;
    padding-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

.calendar .calendar_top h6{
    font-size: 26px;
    margin: 0;
    padding: 15px 10px 0 10px;
}

.calendar .calendar_top p{
    font-size: 16px;
    margin: 0;
    padding: 0 10px 10px 10px;
}

.calendar .calendar_bottom{
    background: #002146;
    padding: 10px 20px 10px 20px;
    margin-top: -16px;
    color: white;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Upcoming Event Right */
.eventItem__right{
    width: 75%;
    float: left;
}
.eventItem__right h6{
    font-size: 20px;
    margin: 0px;
    padding-top: 10px;
}

.eventItem__right .event__paragraph{
    line-height: 1.5;
    padding: 8px 0;
    color: #595959;
}

.eventItem__time{
    color: #002146;
}

.eventItem__time p{
    display: inline;
    margin-right: 10px;
}

.eventItem__time p:first-of-type{
    padding-right: 15px ;
    border-right: 1px solid #797979;
}

/* ----------Footer---------- */
.footer{
    background: #002146;
    width: 100%;
    color: white;
}
.footer__content{
    width: 80%;
    margin: auto;
    padding: 40px 0;
}
.footer__top{
    padding-bottom: 20px;
    border-bottom: 1px solid #939393;
}
.footer__item{
    width: 33.33%;
    float: left;
}
.footer__item ul{
    list-style: none;
}
.footer__top ul li{
    padding: 8px 0;
}
.footer__top ul li a{
    text-decoration: none;
    color: white;
}
.footer__top ul li p{
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0;
}

.footer__top i{
    color: #fdc800;
    font-weight: lighter;
    padding-right: 5px;
    font-size: 18px;
}

.footer__bottom p{
    padding-top: 30px;
    padding-bottom: 20px;
}

.footer__bottom span{
    color: #cccccc;
}